<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gambling game</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/dice.css">
</head>

<body>
    <div class='h70 w100 p4-top flex-wrap column align-items-center'>
      <header class="flex">
          <h1>It's Gamblin' Time!</h1>
          <img src='/images/dice.png' />
      </header>
      {{{body}}}
    </div>
</body>

</html>
